In [2]:
pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.18.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: scipy>=1.2.1 in c:\phyton\lib\site-packages (from mlxtend) (1.5.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\phyton\lib\site-packages (from mlxtend) (3.3.1)
Requirement already satisfied: numpy>=1.16.2 in c:\phyton\lib\site-packages (from mlxtend) (1.19.2)
Requirement already satisfied: pandas>=0.24.2 in c:\phyton\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\phyton\lib\site-packages (from mlxtend) (0.23.1)
Requirement already satisfied: joblib>=0.13.2 in c:\phyton\lib\site-packages (from mlxtend) (0.17.0)
Requirement already satisfied: setuptools in c:\phyton\lib\site-packages (from mlxtend) (50.3.1.post20201107)
Requirement already satisfied: certifi>=2020.06.20 in c:\phyton\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\phyton\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.0)
Requirement already satisfied: pillow>=6.2.0 in c:\phyton\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.0.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\phyton\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\phyton\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\phyton\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in c:\phyton\lib\site-packages (from pandas>=0.24.2->mlxtend) (2020.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\phyton\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\phyton\lib\site-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
data=pd.read_csv("C:/Users/Acer PC/Documents/Data Mining/dataminingc_week6.csv")

In [6]:
data.head()

,TV,Speaker,DVD,Kulkas,Antena,Kipas Angin,AC,Dispenser,Setrika,Mesin Cuci,Mixer,Rice Cooker,Kode
0,0,1,0,1,1,1,1,0,0,1,1,0,PP1
1,1,0,1,0,0,0,0,1,0,0,1,1,PP2
2,1,0,1,0,1,1,0,0,0,1,0,1,PP3
3,1,1,1,0,0,0,0,1,0,0,1,1,PP4
4,1,0,1,1,1,0,0,0,0,0,1,0,PP5

In [8]:
dataset=data.drop('Kode',axis=1)
dataset.head()

,TV,Speaker,DVD,Kulkas,Antena,Kipas Angin,AC,Dispenser,Setrika,Mesin Cuci,Mixer,Rice Cooker
0,0,1,0,1,1,1,1,0,0,1,1,0
1,1,0,1,0,0,0,0,1,0,0,1,1
2,1,0,1,0,1,1,0,0,0,1,0,1
3,1,1,1,0,0,0,0,1,0,0,1,1
4,1,0,1,1,1,0,0,0,0,0,1,0

In [9]:
frequent_itemsets=apriori(dataset, min_support=0.3, use_colnames=True)
frequent_itemsets

     support                itemsets
0   0.833333                    (TV)
1   0.500000               (Speaker)
2   0.666667                   (DVD)
3   0.416667                (Kulkas)
4   0.583333                (Antena)
5   0.416667           (Kipas Angin)
6   0.333333                    (AC)
7   0.500000            (Mesin Cuci)
8   0.333333                 (Mixer)
9   0.416667           (Rice Cooker)
10  0.333333           (TV, Speaker)
11  0.666667               (TV, DVD)
12  0.500000            (TV, Antena)
13  0.333333        (TV, Mesin Cuci)
14  0.416667       (TV, Rice Cooker)
15  0.333333          (DVD, Speaker)
16  0.333333  (Speaker, Kipas Angin)
17  0.333333           (DVD, Antena)
18  0.333333      (Rice Cooker, DVD)
19  0.333333   (Antena, Kipas Angin)
20  0.333333    (Antena, Mesin Cuci)
21  0.333333      (TV, Speaker, DVD)
22  0.333333       (TV, DVD, Antena)
23  0.333333  (TV, DVD, Rice Cooker)

In [13]:
rules=association_rules(frequent_itemsets, metric='confidence',min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(TV),(DVD),0.833333,0.666667,0.666667,0.800000,1.200000,0.111111,1.666667
1,(DVD),(TV),0.666667,0.833333,0.666667,1.000000,1.200000,0.111111,inf
2,(Antena),(TV),0.583333,0.833333,0.500000,0.857143,1.028571,0.013889,1.166667
3,(Rice Cooker),(TV),0.416667,0.833333,0.416667,1.000000,1.200000,0.069444,inf
4,(Kipas Angin),(Speaker),0.416667,0.500000,0.333333,0.800000,1.600000,0.125000,2.500000
5,(Rice Cooker),(DVD),0.416667,0.666667,0.333333,0.800000,1.200000,0.055556,1.666667
6,(Kipas Angin),(Antena),0.416667,0.583333,0.333333,0.800000,1.371429,0.090278,2.083333
7,"(TV, Speaker)",(DVD),0.333333,0.666667,0.333333,1.000000,1.500000,0.111111,inf
8,"(DVD, Speaker)",(TV),0.333333,0.833333,0.333333,1.000000,1.200000,0.055556,inf
9,"(DVD, Antena)",(TV),0.333333,0.833333,0.333333,1.000000,1.200000,0.055556,inf
10,"(TV, Rice Cooker)",(DVD),0.416667,0.666667,0.333333,0.800000,1.200000,0.055556,1.666667
11,"(Rice Cooker, DVD)",(TV),0.333333,0.833333,0.333333,1.000000,1.200000,0.055556,inf
12,(Rice Cooker),"(TV, DVD)",0.416667,0.666667,0.333333,0.800000,1.200000,0.055556,1.666667

In [14]:
rules.sort_values(by=['confidence'],ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1,(DVD),(TV),0.666667,0.833333,0.666667,1.000000,1.200000,0.111111,inf
3,(Rice Cooker),(TV),0.416667,0.833333,0.416667,1.000000,1.200000,0.069444,inf
7,"(TV, Speaker)",(DVD),0.333333,0.666667,0.333333,1.000000,1.500000,0.111111,inf
8,"(DVD, Speaker)",(TV),0.333333,0.833333,0.333333,1.000000,1.200000,0.055556,inf
9,"(DVD, Antena)",(TV),0.333333,0.833333,0.333333,1.000000,1.200000,0.055556,inf
11,"(Rice Cooker, DVD)",(TV),0.333333,0.833333,0.333333,1.000000,1.200000,0.055556,inf
2,(Antena),(TV),0.583333,0.833333,0.500000,0.857143,1.028571,0.013889,1.166667
0,(TV),(DVD),0.833333,0.666667,0.666667,0.800000,1.200000,0.111111,1.666667
4,(Kipas Angin),(Speaker),0.416667,0.500000,0.333333,0.800000,1.600000,0.125000,2.500000
5,(Rice Cooker),(DVD),0.416667,0.666667,0.333333,0.800000,1.200000,0.055556,1.666667
6,(Kipas Angin),(Antena),0.416667,0.583333,0.333333,0.800000,1.371429,0.090278,2.083333
10,"(TV, Rice Cooker)",(DVD),0.416667,0.666667,0.333333,0.800000,1.200000,0.055556,1.666667
12,(Rice Cooker),"(TV, DVD)",0.416667,0.666667,0.333333,0.800000,1.200000,0.055556,1.666667

In [2]:
help()

NameError: name 'apriori' is not defined